@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .sec {
    width: 100%;
    position: relative;
    justify-content: center;
    display: flex;
  }

  .circle1 {
    clip-path: circle(44.6% at 50% 50%);
  }

  .bg-p {
    background: #202124; /* dodgerblue */
  }
  .bg-s {
    font-color: #404040; /* dodgerblue */
  }
  .bg-t {
    background: #111111; /* dodgerblue */
  }
  .p-clr-d {
    background: #262626;
  }
  .bg-p-d {
    background: #2c2c2c;
  }
  .bg-s-d {
    background: #1e1e1e;
  }
  .bg-b-line {
    background: #a1a1a1;
    opacity: 0.5;
  }
  .linear-p {
    background: linear-gradient(
      90.48deg,
      #7d16ff -7.24%,
      #bd51ff 38.37%,
      #ec0dff 109.71%
    );
  }

  .bdr {
    border-width: 0.6px;
    border-color: rgb(161 161 161 / 0.3);
  }
  .bdr-light {
    border-width: 0.4px;
    border-color: rgb(161 161 161 / 0.2);
  }
  .h-scr {
    height: calc(100vh - 73px) !important;
  }
  .animate1 {
    animation-name: example;
    animation-duration: 5s;
  }

  @keyframes example {
    0% {
      background-color: red;
      left: -100%;
      top: 0px;
    }
    100% {
      background-color: blue;
      left: 0px;
      top: 0px;
    }
  }
  .border-grad {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-radius: 14px;
    border-image-source: linear-gradient(
      90.48deg,
      #7d16ff -7.24%,
      #bd51ff 38.37%,
      #ec0dff 109.71%
    );
  }
  .box-shad {
    box-shadow: 0px 0px 8px rgba(135, 135, 135, 0.25);
  }

  .btn-ani {
    animation-name: btn;
    background: inherit;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  @keyframes btn {
    0% {
      background: blue;
    }
    100% {
      background: red;
    }
  }
  .loader-line {
    width: 100%;
    height: 3px;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }

  .loader-line:before {
    content: "";
    position: absolute;
    left: -50%;
    height: 3px;
    width: 40%;
    background-color: #417ef5;
    -webkit-animation: lineAnim 2s linear infinite;
    -moz-animation: lineAnim 2s linear infinite;
    animation: lineAnim 2s linear infinite;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }

  @keyframes lineAnim {
    0% {
      left: -40%;
    }
    50% {
      left: 20%;
      width: 80%;
    }
    100% {
      left: 100%;
      width: 100%;
    }
  }
  /* width */
  .scrolly::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
  .scrolly::-webkit-scrollbar-track {
    background: #fff;
  }
  /* Handle */
  .scrolly::-webkit-scrollbar-thumb {
    background: #c2c2c2;
  }
  /* Handle on hover */
  .scrolly::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
  }
  /* width */
  .scrolly-d::-webkit-scrollbar {
    width: 8px;
    position: relative;
  }
  /* Track */
  .scrolly-d::-webkit-scrollbar-track {
    background: #a1a1a1;
  }
  /* Handle */
  .scrolly-d::-webkit-scrollbar-thumb {
    background: #333;
  }
  /* Handle on hover */
  .scrolly-d::-webkit-scrollbar-thumb:hover {
    background: #111;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .thin-scrolly::-webkit-scrollbar {
    width: 4px;
  }
  .thin-scrolly::-webkit-scrollbar-track {
    background: #f8f8f8;
  }
  .thin-scrolly::-webkit-scrollbar-thumb {
    background: #909090;
  }

  .bl {
    position: relative;
    width: 100%;
    height: 2px;
    background: #555;
  }
  .bl-d {
    background: #f9f9f9;
  }
  .cont {
    width: 100%;
    display: flex;
    padding: 0.25rem 0.35rem 0.25rem 0.35rem;
    margin: 0 auto;
  }
  .hsc {
    height: 80vh;
  }

  .scroll-hidden::-webkit-scrollbar {
    display: none;
  }
  .scroll-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .font-shadow {
    text-shadow: 2px 2px 8px #333333;
  }

  .underline-ani {
    position: absolute;
    background-size: 100% 1px;
    background-position: 0px 100%;
    background-image: linear-gradient(#bbb, #bbb);
    background-color: #1f2937;
    text-decoration: none;
    background-size: 100% 2px;
  }

  @media (min-width: 320px) {
    .cont {
      max-width: 320px;
    }
    .f-title {
      font-size: 1.3rem;
    }
    .f-p {
      font-size: 0.875rem;
    }
  }
  @media (min-width: 380px) {
    .cont {
      max-width: 400px;
    }
    .f-title {
      font-size: 1.35rem;
    }
    .f-p {
      font-size: 0.925rem;
    }
  }
  @media (min-width: 425px) {
    .cont {
      max-width: 680px;
      padding-right: 0.725rem;
      padding-left: 0.725rem;
    }
    .f-title {
      font-size: 1.4rem;
    }
    .f-p {
      font-size: 1rem;
    }
  }
  @media (min-width: 768px) {
    .cont {
      max-width: 800px;
      padding-right: 0.725rem;
      padding-left: 0.725rem;
    }
    .f-title {
      font-size: 1.5rem;
    }
    .f-p {
      font-size: 1.1rem;
    }
  }
  @media (min-width: 1024px) {
    .cont {
      max-width: 1000px;
      padding-right: 0.725rem;
      padding-left: 0.725rem;
    }
    .f-title {
      font-size: 1.6rem;
    }
    .f-p {
      font-size: 1.25rem;
    }
  }
  @media (min-width: 1280px) {
    .cont {
      max-width: 1200px;
      padding-right: 0.725rem;
      padding-left: 0.725rem;
    }
    .f-title {
      font-size: 1.8rem;
    }
    .f-p {
      font-size: 1.4rem;
    }
  }
  @media (min-width: 1440px) {
    .cont {
      max-width: 1200px;
      padding-right: 0.725rem;
      padding-left: 0.725rem;
    }
    .f-title {
      font-size: 1.8rem;
    }
    .f-p {
      font-size: 1.4rem;
    }
  }
  @media (min-width: 2560px) {
    .cont {
      max-width: 1200px;
      padding-right: 0.725rem;
      padding-left: 0.725rem;
    }
    .f-title {
      font-size: 2rem;
    }
    .f-p {
      font-size: 1.5rem;
    }
  }
  @font-face {
    font-family: "Joseph";
    src: url("../styles/fonts/joseph//JosefinSans-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Mukta";
    src: url("../styles/fonts/mukta/Mukta-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Orbitron";
    src: url("../styles/fonts/orbitron/static/Orbitron-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Outfit";
    src: url("../styles/fonts/outfit/Outfit-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Poppins";
    src: url("../styles/fonts/poppins/Poppins-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Righteous";
    src: url("../styles/fonts/righteous/Righteous-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Roboto";
    src: url("../styles/fonts/roboto/Roboto-Medium.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Sarabun";
    src: url("../styles/fonts/sarabun/Sarabun-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Scada";
    src: url("../styles/fonts/scada/Scada-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Shatell";
    src: url("../styles/fonts/shatell/ShantellSans-VariableFont_BNCE,INFM,SPAC,wght.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Ocean Rush";
    src: url("../styles/fonts/fonts/Ocean Rush DEMO.otf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Atmospheric";
    src: url("../styles/fonts/fonts/font 1/Atmospheric-YzMG4.otf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Gravel";
    src: url("../styles/fonts/fonts/font 2/Gravedigger-8BOZ.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Brushed";
    src: url("../styles/fonts/fonts/Brushed.ttf");
    font-weight: normal;
    font-style: normal;
  }
  .brushed {
    font-family: "Brushed", sans-serif;
  }
  @font-face {
    font-family: "Aysha";
    src: url("../styles/fonts/fonts/Aysha.ttf");
    font-weight: normal;
    font-style: normal;
  }
  .aysha {
    font-family: "Aysha", sans-serif;
  }
  @font-face {
    font-family: "Praetorian";
    src: url("../styles/fonts/fonts/font 3/Praetorian-wzAz.otf");
    font-weight: normal;
    font-style: normal;
  }
  .praetorian {
    font-family: "Praetorian", sans-serif;
  }
  @font-face {
    font-family: "RocketRinder";
    src: url("../styles/fonts/fonts/font 4/RocketRinder-yV5d.ttf");
    font-weight: normal;
    font-style: normal;
  }
  .rocket {
    font-family: "RocketRinder", sans-serif;
  }
  @font-face {
    font-family: "Azonix";
    src: url("../styles/fonts/fonts/font 5/Azonix-1VB0.otf");
    font-weight: normal;
    font-style: normal;
  }
  .az {
    font-family: "Azonix", sans-serif;
  }
  @font-face {
    font-family: "Black Gladiator";
    src: url("../styles/fonts/fonts/font 6/Black Gladiator.ttf");
    font-weight: normal;
    font-style: normal;
  }
  .glade {
    font-family: "Gladiator", sans-serif;
  }
  @font-face {
    font-family: "Playball";
    src: url("../styles/fonts/fonts/font 7/Playball-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Steelfish";
    src: url("../styles/fonts/steelfish/steelfish bd.otf");
  }
  @font-face {
    font-family: "Prata";
    src: url("../styles/fonts/Prata/Prata-Regular.ttf");
  }
  @font-face {
    font-family: "Zilla";
    src: url("../styles/fonts/Zilla_Slab/ZillaSlab-Regular.ttf");
  }
  @font-face {
    font-family: "Zilla-I";
    src: url("../styles/fonts/Zilla_Slab/ZillaSlab-Italic.ttf");
  }
  @font-face {
    font-family: "Sora";
    src: url("../styles/fonts/Sora/Sora-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "Mono";
    src: url("../styles/fonts/MonomaniacOne-Regular.ttf");
  }
  @font-face {
    font-family: "Roboto-Thin";
    src: url("../styles/fonts/roboto/Roboto-Thin.ttf");
  }
  @font-face {
    font-family: "Gorge";
    src: url("../styles/fonts/Geologica/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf");
  }
  .roboto-thin {
    font-family: "Roboto-Thin", sans-serif;
  }
  .mono {
    font-family: "Mono", sans-serif;
  }
  .sora {
    font-family: "Sora", sans-serif;
  }
  .prata {
    font-family: "Prata", sans-serif;
  }
  .zilla {
    font-family: "Zilla", sans-serif;
  }
  .zilla-i {
    font-family: "Zilla-I", sans-serif;
  }
  .steelfish {
    font-family: "Steelfish", sans-serif;
  }
  .playball {
    font-family: "Playball", sans-serif;
  }
  .joseph {
    font-family: "Joseph", sans-serif;
  }
  .mukta {
    font-family: "Mukta", sans-serif;
  }
  .orbitron {
    font-family: "Orbitron", sans-serif;
  }
  .outfit {
    font-family: "Outfit", sans-serif;
  }
  .poppins {
    font-family: "Poppins", sans-serif;
  }
  .righteous {
    font-family: "Righteous", sans-serif;
  }
  .roboto {
    font-family: "Roboto", sans-serif;
  }
  .sarabun {
    font-family: "Sarabun", sans-serif;
  }
  .scada {
    font-family: "Scada", sans-serif;
  }
  .shatell {
    font-family: "Shatell", sans-serif;
  }
  .ocean {
    font-family: "Ocean Rush", sans-serif;
  }
  .atmosphere {
    font-family: "Atmospheric", sans-serif;
  }
  .gravel {
    font-family: "Gravel", sans-serif;
  }
  .gorge {
    font-family: "Gorge", sans-serif;
  }
}
